<div *ngIf="selectedItem !== ''" class="alert" [ngClass]="{'alert-success': userAction === 2, 'alert-danger': userAction === 3}">

  <div *ngIf="userAction === 2">Edit Action</div>
  <div *ngIf="userAction === 3">Delete Action</div>
  <div *ngIf="userAction === 1">Add Action</div>

</div>

<!--
<div *ngIf="editSelectedItem !== ''" class="alert alert-success">
  Item {{editSelectedItem}} has been successfully updated
</div> -->


<h2>{{title}}</h2>
<h3>This is my redo work</h3>
<h4>Binding - Communication between view and the component</h4>

<div class="row">
  <div class="col-4 mb-2">
    <input type="text" class="form-control" id="userid" name="userId" [(ngModel)]="userId">

  </div>
</div>


<button class="btn btn-primary" id="btnAction" (click)="displayname()">Display Name</button>

<button class="btn btn-primary mx-3" id="btnAction" (click)="setArrayValue()">Submit </button>

<!-- <h4>{{userId}}</h4> -->


<h4 *ngIf="selectedArray === 0">Array does not have any value</h4>
<h4 *ngIf="selectedArray > 0">Array count: {{selectedArray}}</h4>

<!-- <ul>
  <li *ngFor="let item of userids">{{item}}</li>
</ul> -->


<div>
  <table class="table table-bordered">
    <tr>
      <th>Sr#</th>
      <th>Name of the user</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor = "let item of userids; index as i">
      <td>{{i + 1}}</td>
      <td>
        {{item}}
      </td>
      <td>
        <a class="cursor-pointer" style="cursor: pointer;" title="Edit item" (click)="editItem(i)">
          <i class="fas fa-edit text-primary mx-2"></i>
        </a>
        <a class="cursor-pointer" style="cursor: pointer;" title="Remove item" (click)="removeItem(i)">
          <i class="fas fa-times text-danger"></i>
        </a>
      </td>
    </tr>
  </table>



</div>
