<div class="modal-header">
  <h4 class="modal-title">Update {{this.productInfo?.productName}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="row" [formGroup]="productForm">
    <div class="mb-3">
      <label for="txtProductName" class="form-label"
      [ngClass]="{'label-error': productForm && (productForm.controls.productName.invalid) && (productForm.controls.productName.dirty || productForm.controls.productName.touched) }">Product Name</label>
      <input type="text" class="form-control" id="txtProductName" formControlName="productName" placeholder="Product Name"
      [ngClass]="{'input-element-error': productForm && (productForm.controls.productName.invalid) && (productForm.controls.productName.dirty || productForm.controls.productName.touched) }">
    </div>

    <div class="mb-3">
      <label for="txtProductCategory" class="form-label">Product Category</label>
      <input type="text" class="form-control" id="txtProductCategory" formControlName="productCategory" placeholder="Product Category">
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" formControlName="productPrice" placeholder="Price">
    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="updateProductByForm()" [ngClass]="{'disabled': productForm.pristine || productForm.invalid}">Submit</button>
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
</div>

